.chatbot_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 400px;
  max-width: 400px;
  min-width: 300px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;

  .chatbot_header {
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #fed400;
    padding: 0 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    margin-bottom: 10px;
    overflow: hidden;

    .chatbot_header__title {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      color: #333;
    }

    .chatbot_header__close {
      width: 40px;
      height: 40px;
      border-radius: 8px;
      border: 1px solid #fff;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;
      font-size: large;

      &:hover {
        background-color: #ff0000;
        border-color: #ff0000;
        color: #fff;
      }

      overflow: hidden;

      i {
        color: #333;
        font-size: 20px;
      }
    }
  }

  .chatbot_body {
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 10px;
    p {
      font-weight: 600;
      p {
        font-weight: normal;
      }
    }
    .chatbot_body__cardscontainer {
      width: 100%;
      text-align: center;
      padding: 5px 0;
      .chatbot_body__cardscontainer___card {
        cursor: pointer;
        margin: 5px auto 10px auto;
        &:first-child {
          margin-top: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
        h4 {
          text-align: left;
        }
        img {
          width: 70%;
        }
      }
    }
  }

  .chatbot_footer {
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    .chatbot_footer__input {
      height: 40px;
      border: none;
      padding: 0 5px;
      width: 100%;
      border-top: 1px solid #fed400;
      &:focus {
        outline: none;
      }
    }
    .chatbot_footer__button {
      height: 40px;
      padding: 0 10px;
      background-color: #fed400;
      border: 1px solid #fed400;
      cursor: pointer;
    }
  }
}

.openchat_container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #333;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  font-size: large;
  cursor: pointer;
}
