.landing_container{
    background-color: rgb(11, 11, 25);
    height: 100vh;
    .landing_nav{
        height: 80px;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: space-between;
        align-items: center; 
        padding: 0 50px;

        img{
            height: 60px;
        }

        div{
            display: flex;
            a{
                color: white;
                text-decoration: none;
                font-size: 16px;
                font-weight: bold;
                margin-right: 50px;
                transition: 0.3s all ease-in-out;
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
        
    }
    .img_landing{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        h6{
            color: white;
            font-size: 14px;
        }
        img{
            width: 400px;
            margin-top: 30px;
        }
    }
}