.recipes_related {
	display: grid;
	gap: 2rem;
	padding: 0 100px;
	
	h2 {
		padding: 0 50px;
		margin: 0;
		color: #080935;

		@media (max-width: 768px) {
			padding-left: 0;
			text-align: center;
		}
	}
}
