.upload {
  position: relative;
}

.wrapper {
  position: relative;
  border: 2px dashed #aaa;
  text-align: center;
  z-index: 1;
  width: 180px;
  height: 180px;
  display: grid;
  place-items: center;
}

.file-preview {
  height: 100px;
  width: 100px;
}

.wrapper svg {
  fill: #aaa;
  height: 36%;
}

.help-text {
  color: #aaa;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  height: 20px;
  display: block;
}

.file-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 180px;
  height: 180px;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}