.add_container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1{
        font-size: 2rem;
        margin-top: 35px;

    }
    .add_form{
        width: 450px;
        margin-top: 15px;
        .add_input{
            display: flex;
            flex-direction: column;
            margin-top: 10px;

            label{
                font-size: 18px;
            }

            input{
                height: 40px;
                border-radius: 8px;
                border: 1px solid rgb(216, 216, 216);
            }
        }
    }
    
}

.add_input__none{
    display: none;
}
.add_input__label{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px !important;
    font-weight: 700;
    color: white;
    background-color: rgb(11, 11, 25);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s all ease;

    &:hover{
        background-color: transparent;
        color: rgb(11, 11, 25);
        border: 2px solid rgb(11, 11, 25);
    }

    i{
        margin-right: 15px;
    }
}


.add_btn{
    height: 40px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px !important;
    font-weight: 700;
    color: white;
    background-color: rgb(12, 105, 85);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s all ease;
    margin-top: 25px;

    &:hover{
        background-color: transparent;
        color: rgb(12, 105, 85);
        border: 2px solid rgb(12, 105, 85);
    }
}