* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth !important;
}

body {
	background-color: #f1ecd9;
}

.dash_container {
	display: flex;

	.dash_menu {
		border: 30px solid rgb(17, 46, 46);
	}
	.dash_routes {
		display: flex;
		justify-content: center;
		width: 100%;
		border: 5px solid red;
	}
}

.anticon-clock-circle,
.anticon-pie-chart,
.anticon-close-circle,
.anticon-check-circle {
	font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {
	.anticon-clock-circle,
	.anticon-pie-chart {
		font-size: 2rem;
	}
}
