* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	scroll-behavior: smooth !important;
}

body {
	background-color: white;
}

.dash_container {
	display: flex;

	.dash_menu {
		border: 30px solid #fed400;
	}

	.dash_routes {
		display: flex;
		justify-content: center;
		width: 100%;
	}
}

.anticon-clock-circle,
.anticon-pie-chart,
.anticon-close-circle,
.anticon-check-circle {
	font-size: 1.2rem;
}

@media only screen and (min-width: 768px) {

	.anticon-clock-circle,
	.anticon-pie-chart {
		font-size: 2rem;
	}
}


//Estilos de la pantalla de carga
.loading_container {
	width: 100%;
	height: 100vh;

	.loading_center__img {
		height: 78vh;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 200px;
		}
	}

	.loading_bottom__img {
		height: 18vh;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		img {
			margin-right: 20px;
			width: 200px;

			@media (max-width: 768px) {
				margin-right: 0px;
			}
		}
	}
}